{% extends "dashboard.html" %}

{% block more_header %}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block content %}


<div class="row mt-5">
    <div class="col">
        <h5>Geo distribution for orders</h5>
        {{ geo_div|indent(4)|safe }}
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Repeat purchase analysis</h5>
        {{ repeat_div|indent(4)|safe }}
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Gender distribution for orders</h5>
        {{ gender_div|indent(4)|safe }}
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Top 10 state customer geo distribution</h5>
        {{ customer_geo_div|indent(4)|safe }}
    </div>
</div>

{% endblock %}

{% block more_js %}
{{ js_resources|safe }}
{{ geo_js|safe }}
{{ repeat_js|safe }}
{{ gender_js|safe }}
{{ customer_geo_js|safe }}
{% endblock %}