{% extends "dashboard.html" %}

{% block more_header %}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block content %}

<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
</head>
<body>
   <div id="main" style="width: 1000px;height: 500px;"></div>
   <script>

 	var myChart = echarts.init(document.getElementById('main'));

        // Specify configurations and data graphs
myChart.showLoading();

$.get('https://s3-us-west-2.amazonaws.com/s.cdpn.io/95368/USA_geo.json', function (usaJson) {
    myChart.hideLoading();

    echarts.registerMap('USA', usaJson, {
        Alaska: {              // 把阿拉斯加移到美国主大陆左下方
            left: -131,
            top: 25,
            width: 15
        },
        Hawaii: {
            left: -110,        //夏威夷
            top: 28,
            width: 5
        },
        'Puerto Rico': {       //波多黎各
            left: -76,
            top: 26,
            width: 2
        }
    });
    map_option = {
        title : {
            text: 'Customer location estimates',
            left: 'left'
        },
        tooltip : {
            trigger: 'item',
            showDelay: 0,
            transitionDuration: 0.2,
            formatter : function (params) {
                var value = (params.value + '').split('.');
                value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                return params.seriesName + '<br/>' + params.name + ' : ' + value;
            }
        },
        visualMap: {
            left: 'right',
            min: 500,
            max: 10000,
            color: ['orangered','yellow','lightskyblue'],
            text:['High','Low'],
            calculable : true
        },
        toolbox: {
            show : true,
            //orient : 'vertical',
            left: 'right',
            top: 'top',
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},  //前台可改变数据并传到后台
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        series : [
            {
                name: 'Customer Estimates',
                type: 'map',
                roam: true,
                map: 'USA',
                itemStyle:{
                    emphasis:{label:{show:true}}
                },

                textFixed : {
                    Alaska : [20, -20]
                },
                data:[
                    {name : 'Alabama', value : 4822},   //大概估计的数据，需要在city表里面插入州属性statename，json和ajax的函数接口已经在customer.py写好
                    {name : 'Alaska', value : 7314},
                    {name : 'Arizona', value : 6553},
                    {name : 'Arkansas', value : 2949},
                    {name : 'California', value : 38041},
                    {name : 'Colorado', value : 5187},
                    {name : 'Connecticut', value : 3590},
                    {name : 'Delaware', value : 9170},
                    {name : 'District of Columbia', value : 6323},
                    {name : 'Florida', value : 19317},
                    {name : 'Georgia', value : 9919},
                    {name : 'Hawaii', value : 1392},
                    {name : 'Idaho', value : 1595},
                    {name : 'Illinois', value : 1287},
                    {name : 'Indiana', value : 6537},
                    {name : 'Iowa', value : 3074},
                    {name : 'Kansas', value : 2885},
                    {name : 'Kentucky', value : 4380},
                    {name : 'Louisiana', value : 4601},
                    {name : 'Maine', value : 1329},
                    {name : 'Maryland', value : 5884},
                    {name : 'Massachusetts', value : 6646},
                    {name : 'Michigan', value : 9883},
                    {name : 'Minnesota', value : 5379},
                    {name : 'Mississippi', value : 2984},
                    {name : 'Missouri', value : 6021},
                    {name : 'Montana', value : 1005},
                    {name : 'Nebraska', value : 1855},
                    {name : 'Nevada', value : 2758},
                    {name : 'New Hampshire', value : 1320},
                    {name : 'New Jersey', value : 8864},
                    {name : 'New Mexico', value : 2085},
                    {name : 'New York', value : 1957},
                    {name : 'North Carolina', value : 9752},
                    {name : 'North Dakota', value : 6996},
                    {name : 'Ohio', value : 1154},
                    {name : 'Oklahoma', value : 3814},
                    {name : 'Oregon', value : 3899},
                    {name : 'Pennsylvania', value : 1276},
                    {name : 'Rhode Island', value : 1050},
                    {name : 'South Carolina', value : 4723},
                    {name : 'South Dakota', value : 8333},
                    {name : 'Tennessee', value : 6456},
                    {name : 'Texas', value : 2605},
                    {name : 'Utah', value : 2855},
                    {name : 'Vermont', value : 6260},
                    {name : 'Virginia', value : 8185},
                    {name : 'Washington', value : 6897},
                    {name : 'West Virginia', value : 185},
                    {name : 'Wisconsin', value : 5726},
                    {name : 'Wyoming', value : 5764},
                    {name : 'Puerto Rico', value : 3667}
                ]
            }
        ]
    };

	    myChart.setOption(map_option);
});
   </script>
<script>
       $.ajax({
        url:"/main",
        success: function(data) {
       map_option.series[0].data=data.data
            myChart.setOption(map_option)
		},
		error: function(xhr, type, errorThrown) {
		}
    })
   </script>

</body>

<div class="row mt-5">
    <div class="col">
        <h5>Customer geo distribution</h5>
        {{ customer_geo_div|indent(4)|safe }}
    </div>
    
</div>
<div class="row mt-5">
    <div class="col">
        <h5>Max, avg, min price by categories</h5>
        {{ repeat_div|indent(4)|safe }}
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <h5>Max, avg, min price by categories</h5>
        {{ gender_div|indent(4)|safe }}
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <h5>Max, avg, min price by categories</h5>
        {{ geo_div|indent(4)|safe }}
    </div>
</div>
{% endblock %}

{% block more_js %}
{{ js_resources|safe }}
{{ customer_geo_js|safe }}
{{ repeat_js|safe }}
{{ gender_js|safe }}
{{ geo_js|safe }}
{% endblock %}