<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">SalesDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('overview') }}">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('order') }}">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customer') }}">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('employees') }}">Employees</a>
        </li>
      </ul>
      <a href="logout" class="btn btn-light pull-right">Logout</a>
    </div>
  </nav>

  <div class="container mt-5">
    <form class="form-inline justify-content-center" method="post">
      <div class="form-group">
        <label>Date range from</label>
        <input name="date_start" id="date_start" type="date" class="form-control mx-sm-3 my-2" value="20180101">
        <label>To</label>
        <input name="date_end" id="date_end" type="date" class="form-control mx-sm-3 my-2" value="20181212">
        <select name="time_frame" class="form-control mx-sm-3 my-2" id="time_frame">
            <option selected>Choose...</option>          
            <option value='Daily'>Daily</option>
            <option value='Weekly'>Weekly</option>
            <option value='Biweekly'>Biweekly</option>
            <option value='Monthly'>Monthly</option>
            <option value='Quarterly'>Quarterly</option>
        </select>
        <button type="submit" class="btn btn-primary my-2">GO!</button>
      </div>
    </form>
    {% block content %} {% endblock %}
  </div>

  <footer class="footer">
    <hr>
    <div class="my-3 text-center">
      <span class="text-muted">Copyright (c) 2020. COP 5725</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  {% if date_start and date_end %}
  <script type="text/javascript">
    console.log("Start of my poorly written js!");

    $('#date_start').val('{{date_start}}');
    $('#date_end').val('{{date_end}}');
    //$('#time_frame').val('{{time_frame}}')

    // Hide time frame drop list for pages other than overview
    $(window).on("load", function() {
      var pagename = window.location.pathname.split("/").pop();
      if(pagename.toLocaleLowerCase() != "overview") {
        $("#time_frame").css("display", "none");
      }
    });

    // Save user selected time frame (weekly, biweekkly, monthly etc.)
    $(window).on("load", function() {
      $("#time_frame").on("change", function() {
        var value = $(this).val();
        localStorage.setItem("time_frame", value);
        console.log("User selected time frame = " + value);
      })
    });

    // Load saved time frame 
    $(window).on("load", function() {
      var saved_value = localStorage.getItem("time_frame");
      if(saved_value != null) {
        $("#time_frame").val(saved_value);
      }
    });
    console.log("End of my poorly written js!");

    // Select the corresponding tab on nav bar
    $(window).on("load", function() {
      var pagename = window.location.pathname.split("/").pop();
      console.log("Current pagename = " + pagename);
      $("#navbarSupportedContent ul li.nav-item").each(function() {
        if($(this).find("a").text().toLowerCase() == pagename.toLowerCase()) {
          $(this).addClass("active");
        } else {
          $(this).removeClass("active");
        }
      });
    });
  </script>
  {% endif %}

  {% block more_js %}{% endblock %}

</body>

</html>