{% extends "dashboard.html" %}

{% block more_header %}
{{ css_resources|indent(4)|safe }}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col text-center">
        <h5>Most revenue employee</h5>
        <h3>{{most_revenue_name}}</h3>
    </div>
    <div class="col text-center">
        <h5>Average revenue</h5>
        <h3>{{avg_revenue}}</h3>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Top 10 employee by revenue</h5>
        {{ div_revenue_total|indent(4)|safe }}
    </div>

</div>

<div class="row mt-5">
    <div class="col">
        <h5>Revenue trend for top 5 employee</h5>
        {{ rev_trend_div|indent(4)|safe }}
    </div>
</div>

<div class="row mt-5">
    <div class="col text-center">
        <h5>Most orders employee</h5>
        <h3>{{most_orders_name}}</h3>
    </div>
    <div class="col text-center">
        <h5>Average order number</h5>
        <h3>{{avg_order}}</h3>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Top 10 employee by order number</h5>
        {{ div_orders_total|indent(4)|safe }}
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Order number trend for top 5 employee</h5>
        {{ num_trend_div|indent(4)|safe }}
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <h5>Customer-Employee (C:E) gender affects</h5>
        {{ div_gender|indent(4)|safe }}
    </div>
    <div class="col">
        <h5>Customer-Employee (C:E) hometown affects</h5>
        {{ div_state|indent(4)|safe }}
    </div>
</div>

{% endblock %}

{% block more_js %}
{{ js_resources|safe }}
{{ js_revenue_total|safe }}
{{ rev_trend_js|safe }}
{{ js_orders_total|safe }}
{{ num_trend_js|safe }}
{{ js_gender|safe }}
{{ js_state|safe }}

{% endblock %}